{% extends 'layout.html' %}

{% block body %}
<div style="display: flex; justify-content: center; align-items: center; margin-top: 100px;">
    <div class="biodata">
        <div class="col-md-5">
            <img class="img-fluid" src="static/img/20220214_130311.jpg" style="width: 200px; height: auto; border: 2px solid #333; padding: 10px;">
        </div>
        <div class="col-md-7 bio-text">
            <h4>About me</h4>
            <p>
                Nama Fardan Al Jihad memiliki NIM 211524009, <br>
                tinggal di kelas 3A D-4 Teknik Informatika. <br>
                Setiap pagi pada hari Senin-Kamis pergi ke Politeknik Negeri Bandung.
            </p>
        </div>
    </div>
</div>
{% endblock %}